Repository 999pretty/projectthree: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, biome lint

Notes added by 'git notes add'
  838c33ce03f6ec44b0f2081a364accd8470fbddd
Due: none

feat(web): add Vercel Speed Insights
  apps/web/app/layout.tsx
Due: biome format --write, biome lint

Notes added by 'git notes add'
  60da18c84bbb18fd0c00d3908e4a135d7772c1ec
Due: none

fix(deps): update dependencies
  packages/database/package.json
  packages/payments/package.json
  pnpm-lock.yaml
Due: biome format --write

Notes added by 'git notes add'
  7afa053f88f1ae3f5a0e8249a7dd5e8bc8bc5d9a
Due: none

fix(build): resolve deployment build failures
  apps/web/package.json
  packages/api/src/routes/ai.ts
  pnpm-lock.yaml
Due: biome format --write, biome lint

Notes added by 'git notes add'
  aba3db2e6a10496b89ded00b7fb0060d6d9301af
Due: none

fix(build): resolve deployment build failures
  packages/api/src/routes/ai.ts
Due: biome format --write, biome lint

Notes added by 'git notes add'
  a0d33ff84af5d6a65b230c5fa2724551b7b7ea06
Due: none

Notes added by 'git notes add'
  77b803c360148ca28aef7f025a94e0e70c5f2984
Due: none

fix(build): resolve deployment build failures
  packages/api/src/routes/payments/router.ts
Due: biome format --write, biome lint

Notes added by 'git notes add'
  14878c1d3a362bd7b86c9b9d71a8b5435eb873f0
Due: none

fix(build): resolve deployment build failures
  apps/web/.eslintrc.json
  apps/web/modules/saas/auth/components/SignupForm.tsx
Due: biome format --write, biome lint

Notes added by 'git notes add'
  a95f6146f4d52c249d30a28ec1dadd8c182d17f7
Due: none

fix: upgrade better-auth from 1.2.7 to 1.2.9
  packages/auth/package.json
Due: biome format --write

fix: upgrade next from 15.3.1 to 15.3.3
  packages/auth/package.json
Due: biome format --write

fix(build): resolve deployment build failures
  apps/web/.eslintrc.json
  apps/web/app/(marketing)/[locale]/docs/[[...path]]/page.tsx
  apps/web/app/(marketing)/[locale]/layout.tsx
  apps/web/app/(saas)/app/(account)/chatbot/page.tsx
  apps/web/app/(saas)/layout.tsx
  apps/web/app/error.tsx
  apps/web/app/global-error.tsx
  apps/web/app/layout.tsx
  apps/web/instrumentation-client.ts
  apps/web/modules/shared/components/Document.tsx
  apps/web/modules/shared/components/Providers.tsx
  apps/web/package.json
  biome.json
  packages/api/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

Notes added by 'git notes add'
  3866041c558b8ad5aaa322f0199b0db6b550c0b8
Due: none

perf(web): optimize speed insights and add route segment caching
  .github/workflows/release.yml
  apps/web/app/layout.tsx
Due: biome format --write, biome lint

Notes added by 'git notes add'
  798610d2649922dd942a42159e0d3baa6d8e54fb
Due: none

perf(web): optimize speed insights and add route segment caching
  apps/web/app/layout.tsx
Due: biome format --write, biome lint

Notes added by 'git notes add'
  99b6be2446648ae098747c35bd1fe4f15498363d
Due: none

perf(web): optimize speed insights and add route segment caching
  apps/web/app/layout.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: biome format --write, biome lint

Notes added by 'git notes add'
  ca911c2c95a0b326f0c1c06feab719aa83dbf882
Due: none

perf(web): optimize speed insights and add route segment caching
  apps/web/app/layout.tsx
  apps/web/modules/analytics/provider/vercel/index.tsx
Due: biome format --write, biome lint

Notes added by 'git notes add'
  f0009f146c6d482727cca589f7094ead89858be5
Due: none

fix: packages/auth/package.json to reduce vulnerabilities
  packages/auth/package.json
Due: biome format --write

Path conditions:
  biome format --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
  biome lint: any of: *.{js,jsx,ts,tsx}
